body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
}

#root{
    background-color:#151515;
    
}
